# Configuración del servidor
PORT=3000
NODE_ENV=development
JWT_SECRET=no utilizar esta palabra en producción
BASE_URL=http://localhost:3000

# Base de datos PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=12345
DATABASE_NAME=p2_sw2_nest
DATABASE_SSL=false

AWS_REGION=us-east-2  # Cambia por tu región
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

smtp.host=smtp.gmail.com
smtp.port=587
smtp.user=
smtp.pass=

WHAPI_BASE_URL=
WHAPI_TOKEN=

N8N_API_KEY=<clave-secreta-para-n8n>